html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;

  margin: auto;
}

@media screen and (min-width: 900px) {
  main {
    width: 80%
  }
}

@media screen and (min-width: 1000px) {
  main {
    width: 60%
  }
}

slide-show {
  height: 300px;

  --slide-show-nav-button-bg: #AAAAAA;
  --slide-show-select-button-bg: #777777;
  --slide-show-active-button-bg: #DDDDDD;

  --slide-show-previous-icon: url(icon/arrow-left.svg);
  --slide-show-next-icon: url(icon/arrow-right.svg);
}

slide-show > img {
  display: none;
}
